.Home-table {
    width: 100%;
    margin-top: 4rem;
    color: #b2b5c1;
}

.Home-table thead th {
    font-weight: bold;
    font-size: 1.15rem;
    text-align: left;
    border-bottom: 2px solid #9ca3af;
    padding:.5rem 0;
}

.Home-table tbody td {
    text-align: left;
    border-bottom: 1px solid #9ca3af;
    padding:.5rem 0;
}

.Home-table tbody tr:nth-child(even) {
    background-color: rgba(200,200,200,0.05);
}

.Home-table tbody tr:hover {
    background-color: rgba(0,0,0,0.2);
    color: #FFF !important;
}